$pink: #ff1ee6;
$bg: #1f2234;

html,
body {
    background: $bg;
    color: white;
    font-family: sans-serif;
    background: radial-gradient(
            89.59% 89.59% at 50% 0%,
            rgb(62, 5, 55) 0%,
            rgba(37, 124, 255, 0.01) 47.4%,
            rgba(13, 16, 23, 0) 100%
        ),
        #0d1017;
}
body {
    max-width: 1200px;
    margin: 0 auto;
    padding: 64px 21px;
}

header {
    display: flex;
    justify-content: space-between;
}

a {
    color: $pink;
    text-decoration: none;
    &:hover {
        color: white;
        text-decoration: underline;
    }
}

.logo {
    max-width: 210px;
}

#extension-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1200px;
    margin: 42px auto;
}

.min-version,
.version {
    background: $pink;
    border-radius: 21px;
    padding: 2px 8px;
    display: inline-block;
    font-size: 14px;
    margin-left: 8px;
}
.min-version {
    background: $bg;
}

.extension {
    width: 46%;
    padding: 1%;
    margin: 1%;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    display: flex;
    cursor: pointer;
    &:hover {
        background: rgba(0, 0, 0, 1);
    }
    h2 {
        margin-top: 3px;
        a {
            color: white;
        }
    }
    img {
        width: 130px;
        margin-right: 22px;
        display: block;
    }
}
.btn {
    color: white;
    display: inline-block;
    text-decoration: none;
    border-radius: 5px;
    padding: 3px 8px;
    background: $bg;
    &:hover {
        background: $pink;
        text-decoration: none;
    }
    margin-left: 6px;
    margin-bottom: 8px;
}

footer {
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    margin: 86px 0 0 0;
    padding: 8px 0 0 0;
}

#gallery {
    display: flex;
    gap: 20px;
    margin: 32px 0 64px;
    img {
        width: 100%;
        border-radius: 5px;
    }
    .gallery-images {
        width: 100%;
        position: relative;
    }
    .overlay {
      cursor: pointer;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }
}
.gallery-arrow {
  cursor: pointer;
  display: flex;
  align-items: center;
  font-size: 32px;
}

.gallery-item {
  display: none;
}
.gallery-item-active {
  display: block;
}

.ext-header {
    display: flex;
    gap: 20px;
    background: rgba(0, 0, 0, 0.4);
    padding: 21px;
    border-radius: 10px;
    margin: 32px 0 64px;
}

#contributors small {
    color: white;
}

.ext-image img {
    width: 150px;
}

.ext-header h1 {
    margin: 0;
}

#tabs {
    display: flex;
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}

#tabs span {
    position: relative;
    top: 1px;
    padding: 8px 16px;
    background: rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    cursor: pointer;
    border: 1px solid #ffffff3d;
    padding: 8px 16px;
    background: rgba(0, 0, 0, 0.4);
    border-radius: 5px 5px 0 0;
    cursor: pointer;
    border: 1px solid rgba(255, 255, 255, 0.3);
    margin-right: 3px;
    &.active {
        border-bottom: 1px solid #0d1017;
    }
}

.tab {
    display: none;
}
.active-tab {
    display: block;
    background: #0000005e;
    padding: 21px;
    border: 1px solid #ffffff38;
    border-top: none;
}

.embed-youtube {
    position: relative;
    padding-bottom: 56.25%; /* - 16:9 aspect ratio (most common) */
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}

.embed-youtube iframe,
.embed-youtube object,
.embed-youtube embed {
    border: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
}
