$pink: #ff1ee6;

html,
body {
    background: #1f2234;
    color: white;
    text-align: center;
    font-family: sans-serif;
    padding: 42px 0;
}

a {
    color: $pink;
    text-decoration: none;
    &:hover {
        color: white;
        text-decoration: underline;
    }
}

.logo {
    max-width: 210px;
}

#extension-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1200px;
    margin: 21px auto;
}

.version {
    background: $pink;
    border-radius: 21px;
    padding: 6px 12px;
    display: inline-block;
}

.extension {
    width: 210px;
    padding: 10px;
    margin: 10px;
    background: #2a2f4a;
    border-radius: 5px;
    img {
        width: 66.6%;
        margin: 12px auto;
        display: block;
    }
}
